.app-container {
    display: flex;
}

.main-content {
    margin-left: 250px; /* Sidebar genişliği kadar soldan boşluk */
    padding: 30px;
    width: calc(100% - 250px);
    min-height: 100vh;
    background-color: #f4f4f9;
}

/* Mobil Uyumluluk için Medya Sorgusu */
@media (max-width: 768px) {
    .app-container {
        flex-direction: column;
    }
    
    .main-content {
        margin-left: 0; /* Menü yukarı çıkacağı için soldaki boşluğu sıfırlıyoruz */
        width: 100%;
        padding: 15px;
    }
}